body,html{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}
#BoardContainer{
    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(4,1fr);
    height: 100%;
    background-image: url("../images/arenaBackground/zakumsAltar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#OpponentHand,#PlayerHand{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    background-color: rgba(35, 35, 35, 0.7);
}
#OpponentHand{
    grid-column: 1/5;
    grid-row: 1/2;
    height: 10vh;
}
#PlayerHand{
    grid-column: 1/5;
    grid-row: 8/11;
    height: 30vh;
}
#OpponentHandField,#PlayerField{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,1fr);
    height: 20vh;
}
#OpponentHandField{
    grid-column: 1/5;
    grid-row: 2/5;
}
#PlayerField{
    grid-column: 1/5;
    grid-row: 5/8;
}
