#container{
	background-color: black;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(4,1fr);
}
iframe{
	background: rgba(255, 255, 208, 0.7);
	grid-column: 2/4;
	grid-row: 1/5;
	width: 50%;
	margin: auto;
}
#choiceContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#lobbyButton{

}
/* button quitter */
#lobbyButton:last-of-type{

}